.topnav {
    overflow: hidden;
    background-color: #333;
    border: 18px;
    border-color: #aa9904;
    border-style: groove;
  }
  
  .topnav a {
    float: left;
    color: #aa9904;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  #logoutbutton{
    background-color: #aa9904;
    color: rgb(0, 0, 0);
}

#loginbutton{
  background-color: #aa9904;
  color: rgb(0, 0, 0);
}

#signupbutton{
  background-color: #aa9904;
  color: rgb(0, 0, 0);
}
  
  .topnav a:hover {
    background-color: #333;
    color: black;
  } 
  
  .topnav a.active {
    background-color: #333;
    color: #aa9904;
  } 
  
  .topnav-right {
    float: right;
    padding-top: 0.3cm;
    padding-right:0.5cm;
  }

  #section1 {
    margin-left: auto;
    margin-right: auto;
    width:1000px; 
    height: 52em;
  }


  #footer{
    text-align: center;
    text-shadow: 10px;
    text-decoration-line: overline;
    font-size: 40px;
    font-style: oblique;
    color: rgb(102, 116, 54);
    text-shadow: 1.5px 1.5px;
}

#websitetitle{
  text-align: center;
  text-shadow: 10px;
  font-size: 50px;
  font-family: "Sofia";
  text-shadow: 1.5px 1.5px;
  color: rgb(102, 116, 54);
  background-color: rgb(255, 255, 255);
}


#greeting{
  text-align: left;
  text-shadow: 1.5px 1.5px;
  font-size: 40px;
  font-style: italic;
  color: rgb(102, 116, 54);
  background-color: rgb(255, 255, 255);
}


#logoutstateinfo{
  text-align: center;
  text-shadow: 5px;
  font-size: 30px;
  font-style: italic;
  color: rgb(163, 144, 34);
  background-color: rgb(255, 255, 255);
}


#resultping{
  text-align: center;
  text-shadow: 5px;
  font-size: 30px;
  text-shadow: 1.5px 1.5px;
  font-style: bold;
  color: rgb(28, 27, 87);
  background-color: rgb(255, 255, 255);
}

