.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav-right {
    float: right;
    padding-top: 0.3cm;
    padding-right:0.5cm;
  }

  #section1 {
    margin-left: auto;
    margin-right: auto;
    width:1000px; 
    height: 52em;
  }


  #footer{
    text-align: center;
    text-shadow: 10px;
    text-decoration-line: overline;
    font-size: 40px;
    font-style: oblique;
    color: rgb(65, 87, 70);
    background-color: rgb(255, 255, 255);
}

#websitetitle{
  text-align: center;
  text-shadow: 10px;
  font-size: 50px;
  font-family: "Sofia";
  color: rgb(102, 116, 54);
  background-color: rgb(255, 255, 255);
}


#greeting{
  text-align: left;
  text-shadow: 5px;
  font-size: 40px;
  font-style: italic;
  color: rgb(102, 116, 54);
  background-color: rgb(255, 255, 255);
}


#logoutstateinfo{
  text-align: center;
  text-shadow: 5px;
  font-size: 30px;
  font-style: italic;
  color: rgb(163, 144, 34);
  background-color: rgb(255, 255, 255);
}
