#latencyChart{
    height:20em;
    width:500px;


    
}

#loadtimeChart{
    height:20em;
    width:500px

}


#monitorInfo{
    text-align: center;
    text-shadow: 1.5px 1.5px;
    font-size: 25px;
    font-family: cursive;
    color: #aa9904;
    background-color:#333;
    border: 30px;
    border-color: rgb(158, 148, 9);
    border-style: groove;
    
}

#chart{
    /* text-align: center;
    text-shadow: 1.5px 1.5px;
    font-size: 30px;
    font-style: italic;
    color: rgb(102, 116, 54); */
    background-color:white;
    border: 30px;
    border-color: rgb(158, 148, 9);
    border-style: groove;
    
    
}



