#latencyChart{
    display: block;
    margin-left: 12em;
    margin-right: auto;
}

#loadtimeChart{
    height:20em;
    width:500px

}


#monitorInfo{
    text-align: center;
    text-shadow: 1.5px 1.5px;
    font-size: 25px;
    font-family: cursive;
    color: #aa9904;
    background-color:#333;
    border: 30px;
    border-color: rgb(158, 148, 9);
    border-style: groove;
    
}

#chart{
    /* text-align: center;
    text-shadow: 1.5px 1.5px;
    font-size: 30px;
    font-style: italic;
    color: rgb(102, 116, 54); */
    height: 28em;
    background-color:rgb(232, 238, 240);
    border: 30px;
    border-color: rgb(158, 148, 9);
    border-style: groove;
    
    
}



